.content {
  background: linear-gradient(129deg, #284450 11.51%, #32586f 77.93%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
